%h1 Listing users

%table.table
  %tr
    %th Username
    %th Display name
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.username
      %td= user.display_name
      %td
        = link_to 'Show', user
        = link_to 'Edit', edit_user_path(user)
        = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
