= form_for @verify_code do |f|
  - if @verify_code.errors.any?
    #error_explanation
      %h2= "#{pluralize(@verify_code.errors.count, "error")} prohibited this verify_code from being saved:"
      %ul
        - @verify_code.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :code
    = f.text_field :code
  .actions
    = f.submit 'Save'
